@font-face {
	font-family: 'SEGA LOGO FONT';
	font-style: normal;
	font-weight: normal;
	src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
	padding: 30px;
}

ul {
	list-style: none;
}

.App {
	text-align: center;
	font-family: 'SEGA LOGO FONT';
	font-weight: 200;
	font-size: 1.2em;
}

.instrument {
	background-color: grey;
	text-align: center;
	width: 400px;
	margin: 0 auto;
	border-radius: 10px;
}

input {
	color: black;
}

button {
	margin: 15px;
}
