#welcome-container {
	width: 375px;
	margin: 0 auto;
}

#welcome {
	background: -webkit-linear-gradient(#c16f7a, #575f8b);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	font-size: 5em;
	margin-top: 20px;
	margin-bottom: 30px;
}

#welcome-text {
	background: -webkit-linear-gradient(white, #c6c6c6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
