#welcome-container {
	width: 375px;
	margin: 0 auto;
}

#welcome {
	background: -webkit-linear-gradient(#5b8b57, #c1c06f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	font-size: 5em;
	margin-top: 20px;
	margin-bottom: 30px;
}

#welcome-text {
	background: -webkit-linear-gradient(white, #c6c6c6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media (max-width: 510px) {
	#welcome-container {
		width: 275px;
		margin-bottom: -30px;
	}

	#welcome {
		margin-top: 0;
		margin: 0 auto;
		font-size: 3em;
	}

	#disclaimer {
		margin-top: -10px;
	}
}

#disclaimer {
	text-align: center;
	margin: 75px;
	font-size: .8em;
	background: -webkit-linear-gradient(white, #c6c6c6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
